.page.theme_dark {
  --accent-color: #ff0070;
  --extra-color: #db00ff;
  --header-text-color: #000028;
  --body-text-color: #f1b2ce;
  --backgr-clr: #000028;
  --backgr-img:url(../images/cover-image-dark.png);
  --rec-text-clr:#ff0070;
  --dec-corner-line: #ff0070;
  --button-clr:#ff0070;
  --title-clr:#db00ff;
  --title-shadow:#ff0070;
  --header-bckgr-clr:#ff0070;
}
