

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FFC2E6;
    --extra-color: #ff0070;
    --header-text-color: #353430;
    --body-text-color: #353430;
    --backgr-clr: #000028;
    --backgr-img:url(../images/cover-image-light.png);  
    --rec-text-clr:transparent;
    --dec-corner-line: #353430;
    --button-clr:#353430;
    --title-clr:#FFC2E6;
    --title-shadow:#ff0070;
    --header-bckgr-clr:#FF8DCB;
    --main-font:"IBM Plex Mono", sans-serif;
    }
}

.page.theme_light {
  --accent-color: #FFC2E6;
    --extra-color: #ff0070;
    --header-text-color: #353430;
    --body-text-color: #353430;
    --backgr-clr: #000028;
    --backgr-img:url(../images/cover-image-light.png);  
    --rec-text-clr:transparent;
    --dec-corner-line: #353430;
    --button-clr:#353430;
    --title-clr:#FFC2E6;
    --title-shadow:#ff0070;
    --header-bckgr-clr:#FF8DCB;
    --main-font:"IBM Plex Mono", sans-serif;
}
